.home {
  padding: 40px;
  overflow-y: auto;
}

.hero {
  background: linear-gradient(135deg,#1db95433,#000);
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 42px;
}

.row {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.card {
  width: 160px;
}

.card img {
  width: 100%;
  border-radius: 14px;
}

.card span {
  display: block;
  margin-top: 8px;
}

.pill {
  padding: 10px 25px;
  background: #181818;
  border-radius: 30px;
}
