.language {
  padding: 40px;
}

.song-row {
  display: grid;
  grid-template-columns: 60px 1fr 60px 40px;
  align-items: center;
  gap: 15px;
  background: #181818;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.song-row img {
  width: 60px;
  border-radius: 8px;
}
