.player-ui {
  height: 100vh;
  background: radial-gradient(circle,#1db95422,#000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover {
  width: 260px;
  border-radius: 24px;
  margin-bottom: 25px;
}

.progress {
  width: 300px;
  height: 4px;
  background: #333;
  margin: 20px 0;
}

.progress span {
  width: 40%;
  height: 100%;
  background: #1db954;
  display: block;
}

.controls button {
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  margin: 0 10px;
}
